* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.float-left {
  float: left;
}

.container {
  width: 100%;
  height: 100vh;
  background-color: green;
  padding: 10px;
}

/* Inizio intestazione */
header {
  height: 200px;
  background-color: yellow;
}
/* / intestazione */

/* Inizio corpo centrale */
main{
  height: 500px;
  background-color: lightgrey;
}

.col-left {
  width: 25%;
  height: 75%;
  background-color: pink;
}

.center {
  width: 50%;
  height: 100%;
  background-color: violet;
}

.col-right {
  width: 25%;
  height: 100%;
  background-color: blue;
  position: relative;
}

.box.top {
  width: 100%;
  background-color: pink;
  position: absolute;
  top: 0;
}

.box.bottom {
  width: 100%;
  background-color: pink;
  position: absolute;
  bottom: 0;
}
