* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.float-left {
  float: left;
}

.clearfix::after {
  content:'';
  display: table;
  clear: both;
}

.container {
  padding: 10px;
}

/* Inizio intestazione */
header {
  height: 200px;
  background-color: yellow;
}
/* / intestazione */

/* Inizio corpo centrale */
main{
  width: 100%;
}

.col-left {
  width: 25%;
  height: 300px;;
  background-color: pink;
}

.center {
  width: calc(50% - 40px);
  height: 250px;
  margin: 0 20px;
  background-color: violet;
}

.col-right {
  width: 25%;
  height: 1000px;
}

.box-top {
  width: 100%;
  height: 30%;
  background-color: pink;
}

.box-center {
  width: 100%;
  height: 30%;
  background-color: green;
}

.box-bottom {
  width: 100%;
  height: 30%;
  background-color: blue;
}
/* / corpo centrale */

/* Inizio footer */
footer {
  background-color: lightblue;
  height: 100px;
}
/* / footer */
